---
layout: default
title: Aster Fialla Games
---
    <h1>Games</h1>
    <div class="flex-centered columns col-sm-11 col-10 col-mx-auto">
        <p>I'm an indie games writer and programmer with finished projects in Twine. I am currently working for <a href="http://www.uowls.cn/">Uowls</a> as a narrative writer. You can find my finished personal projects at <a href="https://pieartsy.itch.io/">my itch.io page</a>. Here you'll find descriptions of some projects and a few writing samples.</p>
        
        {% include gamesbuttons.html %}
    </div>

    {% include gameslist.html %}