---
layout: page
title: Aster Fialla's Miscellany
description: Aster Fialla's portfolio, blog, and miscellaneous other things.
image_path: /assets/images/posts/
---
<div class="flex-centered columns col-sm-11 col-10 col-mx-auto">
    <p class="column col-12 text-center">
        I'm Aster: software engineer, game designer, illustrator, comic artist, and sundry-other-things-doer. This site has my art, games, blogs, and miscellaneous other stuff. What do you want to check out?
    </p>
    <h2 class="column col-12">Latest...</h2>
    <div class="column col-xl-3 col-md-6 col-sm-12">
        <section class="index card">
            <h3><a href="art.html">Art</a></h3>
            {% assign drawings = site.posts | where_exp:"post", "post.category == 'drawings'" %}
            <h4>
                <a href="{{ drawings.first.url | relative_url }}">
                    {{drawings.first.title}}
                    {% assign image = drawings.first.image %}{% assign alt = drawings.first.alt %}
                    {% include img.html class="card-image img-round" alt=alt file=image %}
                </a>
            </h4>
        </section>
    </div>

    <div class="column col-xl-3 col-md-6 col-sm-12">
        <section class="index card">
            <h3><a href="{{site.url}}/blog/categories/poems">Poem</a></h3>
            {% assign poems = site.posts | where_exp:"post", "post.category == 'poems'" %}
            <h4>
                <a href="{{ poems.first.url | relative_url }}">{{poems.first.title}}</a>
            </h4>
            {% assign short = poems.first.excerpt | truncatewords: 25 %}
            <p>{{ short }}</p>
            {% if short != poems.content %}<p><i>(more...)</i></p>{% endif %}
        </section>
    </div>

    <div class="column col-xl-3 col-md-6 col-sm-12">
        <section class="index card">
            <h3><a href="blog.html">Blogpost</a></h3>
                <header>
                    <div class="flex-centered">
                        <h4><a href="{{post.url | relative_url}}">{{site.posts.first.title}}</a></h4>
                    </div>
                    <p class="subtitle">Posted: {{ site.posts.first.date | date: "%B %d, %Y" }}</p>
                    {% if site.posts.first.category %}
                    <p class="subtitle">Category:&nbsp;<a
                            href="{{site.url}}/blog/categories/{{site.posts.first.category | slugify}}">{{site.posts.first.category}}</a></p>
                    {% endif %}
                    {% if site.posts.first.tags != empty %}
                    <p class="subtitle">Tags:&nbsp;
                        {% for tag in site.posts.first.tags %}
                        <a href="{{site.url}}/blog/tag/{{tag | slugify}}">{{tag}}</a>{% if tag != site.posts.first.tags.last %},&nbsp;{%
                        endif %}<br>
                        {% endfor %}
                    </p>
                    {% endif %}
                </header>
                {% assign short = site.posts.first.excerpt | truncatewords: 25 %}
                <p>{{ short }}</p>
                {% if short != post.content %}<p><i>(more...)</i></p>{% endif %}
        </section>
    </div>
    <div class="column col-xl-3 col-md-6 col-sm-12">
        <section class="index card">
            <h3><a href="games.html/#ifgames">Twine game</a></h3>
            {% assign sorted_twine = site.twine | sort: 'date' | reverse%}
            <h4 class="card-header"><a href="{{sorted_twine.first.url}}">{{sorted_twine.first.title}}</a></h4>
            <img src="{{site.url}}/assets{{sorted_twine.first.directory}}{{sorted_twine.first.image}}" class="img-round card-image img-responsive"
                 alt="{{sorted_twine.first.alt}}.">
            <p class="card-body">{{sorted_twine.first.description}}</p>
        </section>
    </div>
    <div class="column col-xl-3 col-md-6 col-sm-12">
        <section class="index card">
            <h3><a href="games.html/#ttrpgs">TTRPG</a></h3>
            {% assign sorted_ttrpg = site.ttrpg | sort: 'date' | reverse %}
            <h4 class="card-header"><a href="{{sorted_ttrpg.first.url}}">{{sorted_ttrpg.first.title}}</a></h4>
            <img src="{{site.url}}/assets{{sorted_ttrpg.first.directory}}{{sorted_ttrpg.first.image}}" class="img-round card-image img-responsive"
                 alt="{{sorted_ttrpg.first.alt}}.">
            <p class="card-body">{{sorted_ttrpg.first.description}}</p>
        </section>
    </div>
    <div class="column col-xl-3 col-md-6 col-sm-12">
        <section class="index card">
            <h3><a href="games.html/#pieces">Interactive piece</a></h3>
            {% assign sorted_piece = site.piece | sort: 'date' | reverse %}
            <h4 class="card-header"><a href="{{sorted_piece.first.url}}">{{sorted_piece.first.title}}</a></h4>
            <img src="{{site.url}}/assets{{sorted_piece.first.directory}}{{sorted_piece.first.image}}" class="img-round card-image img-responsive"
                 alt="{{sorted_piece.first.alt}}.">
            <p class="card-body">{{sorted_piece.first.description}}</p>

        </section>
    </div>
</div>