---
layout: page
title: Aster Fialla's Miscellany
description: Aster Fialla's portfolio, blog, and miscellaneous other things.
---
<div class="flex-centered columns col-sm-11 col-10 col-mx-auto">
    <p class="column col-12 text-center">
        I'm Aster: software engineer, game designer, illustrator, comic artist, and sundry-other-things-doer. This site has my art, games, blogs, and miscellaneous other stuff. What do you want to check out?
    </p>
    <div class="column col-4 col-lg-6 col-md-12">
        <section class="index card">
            <h2><a href="art.html">Art</a></h2>
            {% for item in site.data.pics.illos limit:3 %}
            <img src="{{ item.illothumb }}" class="img-responsive card-image img-round"
                 alt="{{ item.illothumbalt }}">
            {% endfor %}
        </section>
    </div>

    <div class="column col-4 col-lg-6 col-md-12">
        <section class="index card">
            <h2><a href="games.html">Blog</a></h2>
            {% for post in site.posts limit:3 %}
            <header>
                <div class="flex-centered">
                    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                </div>
                <p class="flex-centered subtitle">Posted: {{ post.date | date: "%B %d, %Y" }}</p>
                {% if post.update_date %}
                <p class="flex-centered subtitle">Updated: {{ post.update_date | date: "%B %d, %Y" }}</p>
                {% endif %}
                {% if page.original_date %}
                <p class="flex-centered subtitle">Originally posted: {{ page.original_date | date: "%B %d, %Y" }}</p>
                {% endif %}
                {% if post.category %}
                <p class="flex-centered subtitle">Category:&nbsp;<a
                        href="{{site.url}}/blog/categories/{{post.category | slugify}}">{{post.category}}</a></p>
                {% endif %}
                {% if post.tags != empty %}
                <p class="flex-centered subtitle">Tags:&nbsp;
                    {% for tag in post.tags %}
                    <a href="{{site.url}}/blog/tags/{{tag | slugify}}">{{tag}}</a>{% if tag != post.tags.last %},&nbsp;{%
                    endif %}
                    {% endfor %}
                </p>
                {% endif %}
            </header>
            <p>{{ post.excerpt | truncatewords: 25 }}</p>
            <p><i>(more...)</i></p>
            {% endfor %}
        </section>
    </div>
    <div class="column col-4 col-lg-6 col-md-12">
        <section class="index card">
            <h2><a href="games.html">Games</a></h2>
            <h3 class="card-header"><a href="{{site.twine.first.url}}">{{site.twine.first.title}}</a></h3>
            <img src="{{site.url}}/assets{{site.twine.first.directory}}{{site.twine.first.image}}" class="img-round card-image"
                 alt="{{site.twine.first.alt}}.">
            <p class="card-body">{{site.twine.first.description}}</p>

            <h3 class="card-header"><a href="{{site.ttrpg.first.url}}">{{site.ttrpg.first.title}}</a></h3>
            <img src="{{site.url}}/assets{{site.ttrpg.first.directory}}{{site.ttrpg.first.image}}" class="img-round card-image"
                 alt="{{site.ttrpg.first.alt}}.">
            <p class="card-body">{{site.ttrpg.first.description}}</p>

            <h3 class="card-header"><a href="{{site.piece.first.url}}">{{site.piece.first.title}}</a></h3>
            <img src="{{site.url}}/assets{{site.piece.first.directory}}{{site.piece.first.image}}" class="img-round card-image"
                 alt="{{site.piece.first.alt}}.">
            <p class="card-body">{{site.piece.first.description}}</p>

        </section>
    </div>
</div>