---
layout: page
title: Aster's Links page
description: Miscellaneous links within my website and to other websites.
---
<h2>Extra! Extra!</h2>
<p class="subtitle flex-centered">Stuff not linked elsewhere on my website.</p>
<div class="p-centered column col-sm-11 col-10 col-mx-auto">
    <ul>
        {% for item in site.data.links.extras %}
        <li><a href="{{ item.link }}">{{ item.name }}</a> - {{ item.desc }}</li>
        {% endfor %}
    </ul>
</div>

<h2>Webrings</h2>
<p class="subtitle flex-centered">The webrings I'm in. (Just one so far)</p>

<div class="flex-centered columns col-sm-11 col-10 col-mx-auto gap webring">
    <a href="https://neoint-webring.netlify.app/asterfialla/previous" title="Previous site"><img alt="Left arrow" class="post-arrow arrow left-arrow" src="{{site_url}}/assets/images/arrow.svg"></a>
    <a href="https://neoint-webring.netlify.app/"><img alt="Neo-Interactives badge" src="{{site.url}}/assets/images/neo-interactives-badge.png"></a>
    <a href="https://neoint-webring.netlify.app/asterfialla/next" title="Next site"><img alt="Right arrow" class="post-arrow arrow right-arrow" src="{{site_url}}/assets/images/arrow.svg"></a>
</div>

<h2>Other cool sites</h2>
<div class="p-centered column col-sm-11 col-10 col-mx-auto">
    <ul>
        {% for item in site.data.links.outside %}
        <li><span style="display:inline-block;vertical-align:middle;"><img alt="{{item.logo-alt}}" src="{{site.url}}/assets/images/{{item.logo-src}}" height="{{item.logo-height}}"></span> <a href="{{ item.link }}"> {{ item.name }}</a> - {{ item.desc }}</li>
        {% endfor %}
    </ul>
</div>