ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #FFF7F8;
    border: 0;
    padding: 0;
    margin: 0;
}

li {
    float: left;
    font-family: 'Sulphur Point', sans-serif;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #D54455
}

.active {
    background-color: rgb(252, 104, 136)
}