{% for comic in site.data.pics.comics %}
    <div id="{{comic.comic}}" class="carousel">
        <button class="btn btn-link prev" id="{{comic.comic}}-prev"><span class="visually-hidden">Previous </span>&#10094;</button>
        <ol class="comic">
            {% for page in comic.pages %}
                <li class="comic-page">
                    <img class="{{comic.comic}} img-responsive img-round" alt="{{ page.pagealt }}"
                         src="assets\images\illos\{{ page.page }}.png">
                </li>
        {% endfor %}
        </ol>
        <button class="btn btn-link next" id="{{comic.comic}}-next"><span class="visually-hidden">Next </span>&#10095;</button>
        <div id="{{comic.comic}}-liveregion" aria-live="polite" aria-atomic="true" class="visually-hidden liveregion"></div>
    </div>
{% endfor %}

<script type="text/javascript" language="JavaScript" src="{{site.url}}/assets/js/carousel.js"></script>