---
layout: wrapper
---
<div class="flex-centered columns col-sm-11 col-10 col-mx-auto">
<h1>
    {{ section.title }}
</h1>
{% for page in paginator.pages %}
<article class="centered column col-12">
    <hgroup>
        {% if page.image %}
            <img style="height: 300px" class="img-responsive" src="{{page.permalink}}{{page.image}}" alt="{{page.alt}}">
        {% endif %}
        <h2>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h2>
        <div class="flex-centered subtitle">
            <p>
                Posted: {{ page.date | date: "%B %d, %Y" }}
            </p>
            {% if page.update_date %}
                <p>
                    Updated: {{ page.update_date | date: "%B %d, %Y" }}
                </p>
            {% endif %}
        </div>
        <p>
            {{ page.summary }}
        </p>
    </hgroup>
</article>
{% endfor %}

{% if paginator.previous or paginator.next %}
    <nav class="pagination">
        {% if paginator.previous %}
            <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
        {% endif %}
        {% if paginator.next %}
            <a class="next" href="{{ paginator.next }}">Next ›</a>
        {% endif %}
    </nav>
{% endif %}
</div>
{% endblock content %}
