---
layout: page
---
    <div class="columns col-sm-11 col-10 col-mx-auto flex-centered">
        <div id="game-container" class="columns col-sm-12 col-11 col-mx-auto flex-centered">
            <button class="btn btn-link thumbnail" onclick="passInSource(this, Event)">
                <img id="coverart" src="{{site.url}}/assets/{{page.directory}}/{{page.image}}" class="img-responsive" alt="{{page.title}} cover art.">
                <span class="overlay">
                    <span class="text">Click to {{page.verb}}</span>
                </span>
            </button>
        </div>
        <div class="column col-12 col-mx-auto">
            {{content}}
        </div>
    </div>

    <div class="columns col-sm-11 col-10 col-mx-auto" style="padding: 1em;">
        <a class="btn btn-link column col-12 col-mx-auto" href="{{site.url}}/assets/{{page.directory}}/{{page.zip}}" download="{{page.filename}}">Download</a>
    </div>

    {% assign title = page.title | downcase | replace: " ", "-" %}
    {% for tag in site.tags %}
        {% assign tagname = tag[0] | downcase %}
        {% if tagname == title %}
            <div class="col-mx-auto section4">
                <h2>Devlog</h2>
                <div class="column col-sm-11 col-10 col-mx-auto flex-centered">
                    <ul>
                    {% for post in tag[1] %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %d, %Y" }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <section class="section2">
        <h2 class="flex-centered">Comments</h2>
        <!-- begin wwww.htmlcommentbox.com -->
        <div class="column col-8 col-sm-11 col-mx-auto" id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
        <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/commentbox.css" />

        <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24ynkfQoA6rcwylBJ4co.Jm1"+"&opts=16798&num=10&ts=1757623858328");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
        <!-- end www.htmlcommentbox.com -->
    </section>
<script type="text/javascript">
    function passInSource(element) {
        replaceButtonWithIframe(element, "{{site.url}}/assets{{page.directory}}/{{page.game}}")
    }
</script>

<script type="text/javascript" language="JavaScript" src="{{site.url}}/assets/js/game.js"></script>