{% for comic in site.data.pics.comics %}
<div class="flex-centered column col-5 col-md-12 col-mx-auto contain" style="margin:1rem">
    <button class="btn btn-link prev" {{ comic.minus }}>&#10094;</button>
        {% for page in comic.pages %}
            <img class="comic {{comic.comic}} img-responsive" alt="{{ page.pagealt }}" src="assets\images\illos\{{ page.page }}.png">
        {% endfor %}
    <button class="btn btn-link next" {{ comic.plus }}>&#10095;</button>
</div>
{% endfor %}

<script src="assets\js\comics.js"></script>