<div class="columns col-12-sm col-6-md">
        <a class="btn btn-link darker" href="https://neoint-webring.netlify.app/asterfialla/previous">⮜</a>

        <a class="btn btn-link darker" href="https://neoint-webring.netlify.app">Neo-Interactives Webring</a>

        <a class="btn btn-link darker" href="https://neoint-webring.netlify.app/asterfialla/next">⮞</a>
</div>
<div class="columns col-12-sm col-6-md col-ml-auto">
        <a href="mailto:asterfialla@gmail.com" class="btn btn-link">
            <img src="assets/images/email.png" alt="email link" height="20" width="20">
        </a>
        <p>&copy Aster Fialla <script>document.write(new Date().getFullYear())</script></p>

</div>