<section id="ifgames" class="section2">
    <h2>Interactive Fiction games</h2>
    <div class="flex-centered columns col-sm-11 col-10 col-mx-auto">
    {% for if in site.data.games.if %}
    <div class="column col-4 col-md-12">
        <div class="card" id="{{if.folder}}">
            <div class="card-header"><h3>{{if.title}}</h3></div>
            <div class="card-image">
                <img height="auto" width="100%" src="{{base}}/assets/games/if/{{if.folder}}/{{if.image}}" class="img-round" alt="Cover art for {{if.title}}">
            </div>
            <div class="card-body">
                <div>{{if.blurb}}</div>
            </div>
            <div class="card-footer p-centered"><a class="btn btn-link darker"  id="{{if.folder}}-link" href="{{base}}/assets/games/if/{{if.folder}}/{{if.link}}">Play <i>{{if.title}}</i></a></div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% include gamesbuttons.html %}
</section>



<section id="ttrpgs" class="section3">
    <h2>TTRPGS</h2>
    <div class="flex-centered columns col-sm-11 col-10 col-mx-auto">
    {% for ttrpg in site.data.games.ttrpgs %}
    <div class="column col-4 col-md-12">
        <div class="card" id="{{ttrpg.folder}}">
            <div class="card-header"><h3>{{ttrpg.title}}</h3></div>
            <div class="card-image">
                <img height="auto" width="100%" src="{{base}}/assets/games/ttrpgs/{{ttrpg.folder}}/{{ttrpg.image}}" class="img-round" alt="Cover art for {{ttrpg.title}}">
            </div>
            <div class="card-body">
                <div>{{ttrpg.blurb}}</div>
            </div>
            <div class="card-footer p-centered"><a class="btn btn-link darker" id="{{ttrpg.folder}}-link" href="{{base}}/assets/games/ttrpgs/{{ttrpg.folder}}/{{ttrpg.link}}">Read <i>{{ttrpg.title}}</i></a></div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% include gamesbuttons.html %}

</section>

<section id="pieces" class="section1">

    <h2>Interactive pieces</h2>
    <div class="flex-centered columns col-sm-11 col-10 col-mx-auto">
    <div class="flex-centered columns col-10 col-mx-auto">
        <p>Not really games, but they're definitely interactive!</p>
    </div>
    {% for piece in site.data.games.pieces %}
    <div class="column col-4 col-md-12">
        <div class="card" id="{{piece.folder}}">
            <div class="card-header"><h3>{{piece.title}}</h3></div>
            <div class="card-image">
                <img height="auto" width="100%" src="{{base}}/assets/games/pieces/{{piece.folder}}/{{piece.image}}" class="img-round" alt="Cover art for {{piece.title}}">
            </div>
            <div class="card-body">
                <div>{{piece.blurb}}</div>
            </div>
            <div class="card-footer p-centered"><a class="btn btn-link darker" id="{{piece.folder}}-link" href="{{base}}/assets/games/pieces/{{piece.folder}}/{{piece.link}}">Explore <i>{{piece.title}}</i></a></div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% include gamesbuttons.html %}

</section>