<!--spectre.css grid that makes the header not run up against the edges of the screen-->
<nav class="navbar columns col-12 col-mx-auto content-desktop title">
    <!--Home link on one side-->
    <div class="navbar-section header-title">
        Aster Fialla
    </div>
    <!--breadcrumb (nav menu)-->
    <div class="navbar-center navbar-section">
        {% for item in site.data.header.nav %}
        <a class="header-link" href="{{site.url}}/{{ item.link }}">{{ item.name }}</a>
        {% endfor %}
    </div>
    <!--new section for social media links-->
    <div class="navbar-section">
        {% for item in site.data.header.sm %}
        <a href="{{ item.socialmedia }}" class="contact header-link">
            <img src="{{site.url}}/assets/images/socmed/{{ item.socialmediaimg }}" alt="{{ item.socialmediaalt }}">
        </a>
        {% endfor %}
    </div>
</nav>
<!--mobile version compresses the links into a dropdown-->
<nav class="columns col-12 col-mx-auto content-mobile title navbar">
    <div class= "navbar-section">
        <div class="dropdown">
            <button type="button" onclick="toggleDialog('menu-popup')" aria-haspopup="dialog" class="btn btn-link dropdown-toggle">
                Menu
            </button>
            <dialog id="menu-popup" closedby="any">
                <menu class="menu">
                    {% for item in site.data.header.nav %}
                    <li class="menu-item">
                        <a href="{{site.url}}/{{ item.link }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </menu>
            </dialog>
        </div>
    </div>
    <div class="navbar-center navbar-section">
        Aster Fialla
    </div>
    <div class="navbar-section">
        <div class="dropdown dropdown-right">
            <button type="button" onclick="toggleDialog('sm-popup')" aria-haspopup="dialog" class="btn btn-link dropdown-toggle">
                Contact
            </button>
            <dialog id="sm-popup" closedby="any">
                <menu class="menu">
                    {% for item in site.data.header.sm %}
                    <li class="menu-item">
                        <a href= "{{ item.socialmedia }}" class="contact">
                            <img src="{{site.url}}/assets/images/socmed/{{ item.socialmediaimg }}" alt="{{ item.socialmediaalt }}">
                        </a>
                    </li>
                    {% endfor %}
                </menu>
            </dialog>
        </div>
    </div>
</nav>
<img src="{{site.url}}/assets/images/defeatclaude.svg" alt="Aster Fialla">