<!--uses unicode characters-->
<meta charset="utf-8">
<!--makes it responsive-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
  {{ page.title }}
</title>
<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/stylesheet.css">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/assets/images/favicon-16x16.png">
<link rel="manifest" href="site.webmanifest">
{% feed_meta %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{{site.url}}/assets{{page.directory}}{{ page.image }}" />
<meta property="og:type"  content="{{ page.type }}" />
<meta property="og:locale"  content="en_US" />
<meta name="twitter:card" content="summary_large_image" />