---
---
/* the entire html comment box container. applies to everything */
#HCB_comment_box {
    font-family: "ABeeZee" !important;
    font-size: unset !important;
    margin: auto;
    textarea {
        border: unset !important;
        font-family: unset !important;
    }
    p.error {
        border: 4px solid #f88;
        background-color: #fee;
        color: #800;
    }
    input.text {
        display:block;
        width:97%;
    }
    .hcb-wrapper-half {
        display:block;
        width:50%;
        float:left;
    }
    .hcb-wrapper {
        clear:both;
        margin-bottom:0.5em;
    }
    input#hcb_submit {
        background-color: var(--sectionone) !important;
        border-color:transparent !important;
        color: black !important;
        border-radius: 40px !important;
        margin: .2rem !important;
        font-family: "ABeeZee" !important;
        font-size: .8em !important;
        &:focus, &:hover, &:active {
            background-color: var(--brighttext) !important;
            border: black solid 3px !important;
        }
    }
}

#HCB_comment_box span.home-desc {
    opacity:0.4;
}

/* the individual comment display containers */
#HCB_comment_box div.comment {
    font-family: unset !important;
    border-top: unset !important;
    margin-bottom: unset !important;
}

/* the moderator message */
.hcb-mod  b{
    color:darkblue;
}

/* next, prev, ok and x link style */
.hcb-link {
    color: unset !important;
    text-decoration: unset !important;
}

#HCB_comment_box a {
    color: var(--brighttext) !important;
}

