    <!--spectre.css grid that makes the header not run up against the edges of the screen-->
    <div class="columns col-12 col-mx-auto content-desktop" style="position:fixed;z-index: 100;">
        <!--Email on one side-->
        <section class="navbar-section">
            <a href="mailto:asterfialla@gmail.com" class="btn btn-link">asterfialla@gmail.com</a>
        </section>
        <!--breadcrumb (nav menu)-->
        <section class= "navbar-center">
            {% for item in site.data.header %}
                <a href= "{{ item.link }}" class="btn btn-link">{{ item.name }}</a>
            {% endfor %}
        </section>
        <!--new section for social media links-->
        <section class= "navbar-section">
            {% for item in site.data.header %}
                <a href= "{{ item.socialmedia }}" class="btn btn-link">
                    <img src="{{ item.socialmediaimg }}" alt="{{ item.socialmediaalt }}" height="25" width="25">
                </a>
            {% endfor %}    
        </section>
    </div>
    <div class="columns col-12 col-mx-auto content-mobile" style="position:fixed;z-index: 1000;">
        <section class= "navbar-section">
            {% for item in site.data.header %}
                <a href= "{{ item.link }}" class="btn btn-link">{{ item.name }}</a>
            {% endfor %}        </section>
        <section class="navbar-section">
            <div class="dropdown dropdown-right">
                <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                  Contact<i class="icon icon-caret"></i>
                </a>
                <!-- menu component -->
                <ul class="menu">
                    {% for item in site.data.header %}
                    <li class="menu-item">
                        <a href= "{{ item.socialmedia }}" class="btn btn-link">
                            <img src="{{ item.socialmediaimg }}" alt="{{ item.socialmediaalt }}" height="25" width="25">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
