{% for item in site.data.pics.illos %}
                <div>
                    <a href="#{{ item.illoid }}">
                        <div class="thumbnail">
                            <img src="{{ item.illothumb }}" alt="{{ item.illothumbalt }}" class="img-round img-responsive">
                            <div class="overlay">
                            </div>
                        </div>
                    </a>
                    <div class="modal modal-lg" id="{{ item.illoid }}">
                        <a href="#back" class="modal-overlay" aria-label="Close"></a>
                        <div class="modal-container">
                            <div class="modal-header">
                                <a href="#back" class="btn btn-clear float-right" aria-label="Close"></a>
                                <h4>{{ item.illotitle }}</h4>
                            </div>
                            <div class="modal-body">
                                <img src="{{ item.illo }}" alt="{{ item.illoalt }}" class="img-fit-contain">
                            </div>
                        </div>
                    </div>
                </div>
{% endfor %}