---
layout: default
title: Aster Fialla Art
---
    <h1>Art</h1>
    <div class="flex-centered columns col-sm-11 col-10 col-mx-auto">
        <p>I'm a self-taught digital illustrator and comic creator, primarily focused on character art. My work has been published in several zines and I do commissions. Further examples of my art are on my various social media accounts @pieartsy; you can find links to those in the upper right corner of my website. More information on my commissions can be found here: <a href="commissions.html">Commissions</a>.</p>
        
        {% include artbuttons.html %}
    </div>

    <div id="illustrations" class="section1">
        <h2>Illustrations</h2>
        <div class="flex-centered columns col-10 col-mx-auto">
            <div class="thumbnailgrid column col-12 col-mx-auto">
                {% include illos.html %}
            </div>
            {% include artbuttons.html %}
        </div>
    </div>

  <!--  <div id="trad" class="section4">
        <h2>Traditional</h2>
        <div class="flex-centered columns col-10 col-mx-auto">
            <div class="thumbnailgrid column col-12 col-mx-auto">
                {% include trad.html %}
            </div>
            {% include artbuttons.html %}
        </div>
    </div>
-->

    <div id="comics" class="section3">
        <h2>Comics</h2>
        <div class="flex-centered columns col-10 col-mx-auto">
            {% include comics.html %}
        </div>
        {% include artbuttons.html %}
    </div>

    <div id="projects" class="section2">
        <h2>Projects</h2>
        <div class="flex-centered columns col-10 col-mx-auto">
            {% include artprojs.html %}
        </div>
        {% include artbuttons.html %}
    </div>