---
---

.carousel {
  position: relative;
  margin: 0;
  padding: 1em;
  display: inline-flex;
  overflow: hidden;
  button {
    padding: 5em .1em;
    height: 70%;
  }
  ol {
    overflow: hidden;
    list-style: none;
    margin: 0;
    li.slide {
      display: none;
      background-size: cover;
      &.current {
        display: block;
      }
    }
  }
}
