---
---

.carousel {
  position: relative;
  margin: 0;
  padding: 1em;
  display: inline-flex;
  overflow: hidden;
  button {
    padding: 0 2%;
  }
  ol {
    overflow: hidden;
    list-style: none;
    margin: 0;
    li.slide {
      display: none;
      background-size: cover;
      &.current {
        display: block;
      }
    }
  }
}

.carousel.with-slidenav {
  padding-bottom: 2.5em;
  background-color: #fff;
}
.carousel.with-slidenav li.slide {
  border-bottom: 1px solid #333;
}
li.slidenav {
  position: absolute;
  bottom: 0.25em;
  left: 0;
  right: 0;
  text-align: center;
}
li.slidenav li {
  display: inline-block;
  margin: 0 0.5em;
}
li.slidenav button {
  border: 2px solid #036;
  background-color: #036;
  line-height: 0.5;
  height: 2em;
  min-width: 2em;
  font-weight: bold;
  color: #fff;
}
li.slidenav button.current {
  border-radius: 0.5em;
  background-color: #fff;
  color: #333;
}
li.slidenav button:focus,
li.slidenav button:hover {
  border: 2px dotted #fff;
}
li.slidenav button.current:focus,
li.slidenav button.current:hover {
  border: 2px dotted #036;
}
