---
layout: default
title: Aster Fialla Art
---
    <h1>Art</h1>
    <div class="flex-centered columns col-sm-11 col-10 col-mx-auto">
        <p>I'm a self-taught digital illustrator and comic creator, primarily focused on character art. My work has been published in several zines and I do commissions. Further examples of my art are on my various social media accounts @pieartsy; you can find links to those in the upper right corner of my website. More information on my commissions can be found here: <a href="commissions.html">Commissions</a>.</p>
        
        {% include artbuttons.html %}
    </div>

    <div id="illustrations" class="section1">
        <h2>Illustrations</h2>
        <div class="flex-centered columns col-10 col-mx-auto">
            <div class="thumbnailgrid column col-12 col-mx-auto">
                {% include illos.html %}
            </div>
            {% include artbuttons.html %}
        </div>
    </div>

    <div id="trad" class="section1">
        <h2>Traditional</h2>
        <div class="flex-centered columns col-10 col-mx-auto">
            <div class="thumbnailgrid column col-12 col-mx-auto">
                <div>
                </div>
                {% include artbuttons.html %}
            </div>
        </div>
    </div>

<!--
    <div id="comics" class="section2">
        <h2>Comics</h2>
        <div class="flex-centered columns col-10 col-md-auto col-mx-auto">
            <div class="flex-centered column col-5 col-md-auto col-mx-auto contain" style="margin:1rem">
                <button class="btn btn-link prev" onclick="plusDivs(-1, 0)">&#10094;</button>
                <img class="mySlides1 img-responsive" alt="CONTENT NOTES: hanged corpse, vomiting" src="imgs/kim big bang blur.png">
                <img class="mySlides1 img-responsive" alt="disco elysium big bang comic page 1" src="imgs/kim big bang 1.png">
                <img class="mySlides1 img-responsive" alt="disco elysium big bang comic page 2" src="imgs/kim big bang 2.png">
                <img class="mySlides1 img-responsive" alt="disco elysium big bang comic page 3" src="imgs/kim big bang 3.png">
                <img class="mySlides1 img-responsive" alt="disco elysium big bang comic page 4" src="imgs/kim big bang 4.png">
                <img class="mySlides1 img-responsive" alt="disco elysium big bang comic page 5" src="imgs/kim big bang 5.png">
                <button class="btn btn-link next" onclick="plusDivs(1, 0)">&#10095;</button>
            </div>
            <div class="flex-centered column col-5 col-md-auto col-mx-auto contain" style="margin:1rem">
                <button class="btn btn-link prev" onclick="plusDivs(-1, 1)">&#10094;</button>
                <img class="mySlides2 img-responsive" alt="handcrusher comic page 1" src="imgs/hand crusher_001.png">
                <img class="mySlides2 img-responsive" alt="handcrusher comic page 2" src="imgs/hand crusher.png">
                <button class="btn btn-link next" onclick="plusDivs(1, 1)">&#10095;</button>
            </div>
        </div>
        <script>
            var slideIndex = [1,1];
            var slideId = ["mySlides1", "mySlides2"]
            showDivs(1, 0);
            showDivs(1, 1);
            
            function plusDivs(n, no) {
              showDivs(slideIndex[no] += n, no);
            }
            
            function showDivs(n, no) {
              var i;
              var x = document.getElementsByClassName(slideId[no]);
              if (n > x.length) {slideIndex[no] = 1}
              if (n < 1) {slideIndex[no] = x.length}
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
              }
              x[slideIndex[no]-1].style.display = "block";  
            }
        </script>
        {% include artbuttons.html %}
    </div>

    <div id="projects" class="section1">
        <h2>Projects</h2>
        <div class="flex-centered columns col-10 col-md-auto col-mx-auto">
            <div class="column col-6 col-mr-auto col-md-auto">
                <div class="card">
                    <div class="card-header">
                        <h3>Get in the Fucking Robot cover</h3>
                        <h4>2021</h4>
                    </div>
                    <div class="card-image">
                        <image src="imgs/gitfrproj.png" class="img-responsive" alt="Preview of the Get in the Fucking Robot cover">
                    </div>
                    <div class="card-body">
                        A cover for the PDF of the tabletop RPG, Get in the Fucking Robot, by Penguin King Games. Link to the playtest version of the game here: <a href="https://penguinking.com/get-in-the-fucking-robot/">Get in the Fucking Robot</a>.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3>Fandom Zines</h3>
                        <h4>2017-2019</h4>
                    </div>
                    <div class="card-image">
                        <image src="imgs/projs.png" class="img-responsive" alt="Preview of my comic for the Enough Love to Go Around zine">
                    </div>
                    <div class="card-body">
                        <p>
                            Several comics done for zines in the My Hero Academia and Voltron: Legendary Defender fandoms. These zines were focused around celebrating concepts or specific characters from each piece of media.
                            <ul>
                                <li>Enough Love to Go Around zine: <a href="https://bnha-poly-ships-zine.tumblr.com/">website link</a></li>
                                <li>Your Power zine: <a href="https://yourpowerzine.tumblr.com/post/178090475908">link with details</a></li>
                                <li>The Gorgeous Man zine: <a href="https://coranzine.tumblr.com/">website link</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="column col-6 col-md-auto col-ml-auto">
                <div class="card">
                    <div class="card-header">
                        <h3>Make a Scene</h3>
                        <h4>2020</h4>
                    </div>
                    <div class="card-image">
                        <image src="imgs/makeascene.png" class="img-responsive" alt="Preview of my illustration for the Make a Scene anthology">
                    </div>
                    <div class="card-body">
                        <p>
                            An anthology of LARPs. I illustrated the cover art for Boldly Go. The anthology has a Kickstarter at this link: <a href="https://www.kickstarter.com/projects/makeascene/make-a-scene-larp-anthologies">Kickstarter</a>. More information about the Make a Scene festival can be found here: <a href="http://makeascenemn.org/en/">Make a Scene</a>.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3>Serving Pride: The Queer History Dinner Party Handbook</h3>
                        <h4>2017</h4>
                    </div>
                    <div class="card-image">
                         <image src="imgs/servingpride.png" class="img-responsive" alt="Preview of my illustration for Serving Pride: The Queer History Dinner Party Handbook">
                    </div>
                    <div class="card-body">
                        <p>
                            An illustrated handbook of queer history presented as a dinner party. I illustrated the art for the candle ritual in Chapter 6. More info on the handbook can be found at this link: <a href="https://www.geeksout.org/serving-pride/">Serving Pride</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>