<div class="columns col-12-sm col-6-md col-mx-auto flex-centered">
    <a href="{{ get_url(path='feed.xml') }}" class="btn btn-link" title="RSS feed">
        <img src="{{ get_url(path='images/rss.png') }}" alt="RSS feed" height="20" width="20">
    </a>
    </a>
    <a href="mailto:me@asterfialla.com" class="btn btn-link">
        <img src="{{ get_url(path='images/email.png') }}" alt="email link" height="20" width="20">
    </a>
    <p>&copy Aster Fialla {{ now() | date(format="%Y") }} </p>
</div>