<!--uses unicode characters-->
<meta charset="utf-8">
<!--makes it responsive-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
{% if page.title %}
  {{ page.title }}
{% else %}
 {{config.title}}
{% endif %}
</title>
<link rel="stylesheet" type="text/css" href="{{config.base_url}}/assets/css/stylesheet.css">
<link rel="apple-touch-icon" sizes="180x180" href="{{config.base_url}}/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{config.base_url}}/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{config.base_url}}/assets/images/favicon-16x16.png">
<link rel="manifest" href="site.webmanifest">
<meta property="og:url" content="{{ config.base_url }}{%if page.url %}{{ page.url }}{% endif %}" />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %} {{config.title}}{% endif %}" />
<meta property="og:type"  content="website" />
<meta property="og:locale"  content="en_US" />
<meta name="twitter:card" content="summary_large_image" />