<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
<!--header for email, other pages, and social media links-->
<header class="navbar">
    {% include header.html %}
</header>
<!--same spectre.css grid as before, this time for the rest of the body-->
<!--content wrapper for everything except footer-->
<div id="content">
    <h1>{% if page.previous.url %}
        <a href="{{page.previous.url}}" title="{{page.previous.title}}">&#x2B9C;</a>
        {% endif %}
        {{page.title}}
        {% if page.next.url %}
        <a title="{{page.next.title}}" href="{{page.next.url}}">&#x2B9E;</a>
        {% endif %}</h1>
    <p class="flex-centered subtitle">Posted {{ page.date | date: "%B %d, %Y" }}</p>
    <!--more-->
    <div class="columns col-sm-11 col-10 col-mx-auto">
        <div class="column col-12 col-mc">
            {{ content }}
        </div>
    </div>
    <div class="columns col-12 col-mx-auto section2">
        <!-- begin wwww.htmlcommentbox.com -->
        <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
        <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/commentbox.css" />
        <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24ynkfQoA6rcwylBJ4co.Jm1"+"&opts=16798&num=10&ts=1757623858328");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
        <!-- end www.htmlcommentbox.com -->
    </div>
</div>
<!--copyright-->
<footer id="footer" class="flex-centered columns col-12 col-mx-auto">
    {% include footer.html %}
</footer>
</body>
</html>