---
layout: wrapper
---
<article class="column col-12 col-mx-auto">
    <div class="post col-11 col-sm-12 col-mx-auto">
        <header>
            {% if page.image and page.image != "/portraits.png" %}
                <img class="img-responsive post-img" src="{{site.url}}/assets{{page.directory}}/{{page.image}}" alt="{{page.alt}}">
            {% endif %}
            <div class="flex-centered">
                {% if page.previous.url %}
                    <a class="h1 post-link" href="{{page.previous.url}}" title="{{page.previous.title}}"><img alt="Left arrow" class="post-arrow arrow left-arrow" src="{{site_url}}/assets/images/arrow.svg"></a>
                {% endif %}
                    <h1>{{page.title}}</h1>
                {% if page.next.url %}
                    <a class="h1 post-link" title="{{page.next.title}}" href="{{page.next.url}}"><img alt="Right arrow" class="post-arrow arrow right-arrow" src="{{site_url}}/assets/images/arrow.svg"></a>
                {% endif %}
            </div>
            <p class="flex-centered subtitle">Posted: {{ page.date | date: "%B %d, %Y" }}</p>
            {% if page.update_date %}
                <p class="flex-centered subtitle">Updated: {{ page.update_date | date: "%B %d, %Y" }}</p>
            {% endif %}
            {% if page.original_date %}
                <p class="flex-centered subtitle">Originally posted: {{ page.original_date | date: "%B %d, %Y" }}</p>
            {% endif %}
        </header>
            <!--more-->
        <div class="columns col-sm-11 col-10 col-mx-auto post">
            <div class="column col-12 col-mc">
                {{ content }}
            </div>
        </div>
        <footer>
            {% if page.category %}
                <p class="flex-centered subtitle">Category:&nbsp;<a href="{{site.url}}/blog/categories/{{page.category | slugify}}">{{page.category}}</a></p>
            {% endif %}
            {% if page.tags != empty %}
                <p class="flex-centered subtitle">Tags:&nbsp;
                    {% for tag in page.tags %}
                        <a href="{{site.url}}/blog/tags/{{tag | slugify}}">#{{tag}}</a>
                        {% if tag != page.tags.last %},&nbsp;{% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if page.octothorpe.size > 0 %}
                <p class="subtitle">
                    <span class="flex-centered">Octothorpes&nbsp;<sup><a title="What the heck is an octothorpe" href="{{site.url}}/blog/octothorpe-protocol">?</a></sup>:&nbsp;</span>
                    {% for tag in page.octothorpe %}
                        <span class="flex-centered"><octo-thorpe>{{tag}}</octo-thorpe></span>
                    {% endfor %}
                </p>
            {% endif %}
        </footer>
    </div>
    <section class="section2 comments">
        <h2 class="flex-centered">Comments</h2>
            <!-- begin wwww.htmlcommentbox.com -->
        <div class="column col-8 col-sm-11 col-mx-auto" id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
        <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/commentbox.css" />

        <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24ynkfQoA6rcwylBJ4co.Jm1"+"&opts=16798&num=10&ts=1757623858328");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
            <!-- end www.htmlcommentbox.com -->
    </section>
</article>

<script
        async=""
        defer=""
        type="module"
        data-register="https://octothorp.es/"
        src="{{site.url}}/assets/js/tag.js"></script>