<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
<!--header for email, other pages, and social media links-->
<header class="navbar">
    <a href="#content" class="skip btn btn-link">Skip to main content</a>
    {% include header.html %}
</header>
<!--same spectre.css grid as before, this time for the rest of the body-->
<!--content wrapper for everything except footer-->
<main id="content" tabindex="-1">
    {{ content }}
</main>
<!--copyright-->
<footer id="footer">
    {% include footer.html %}
</footer>
</body>
</html>